<div>
    <h1>Mined Out Reincarnation</h1>
    <h2>Intro screen "{{title}}"</h2>
    <ul class="menu">
        <li>
            <a href="#/intro" class="thumb">Intro</a>
        </li>
        <li>
            <a href="#/help" class="thumb">Help</a>
        </li>
        <li>
            <a href="#/outro" class="thumb">Outro</a>
        </li>
        <li>
            <a href="#/level/1" class="thumb">Level1</a>
        </li>
        <li>
            <a href="#/level/2" class="thumb">Level2</a>
        </li>
    </ul>
</div>
