div.container-float {
    position: absolute;
    width: 40%;
    right: 0%;
}

table, tr, td {margin:0; padding:0}

table td {
    border: 0px solid gray;
    font-size: 10px;
    background-color: yellow;
    width: 15px;
    height: 15px;
    text-align: center;
}

div#player {
    position: absolute;
    background-color: deeppink;
    font-size: 10px;
    width: 15px;
    height: 15px;
}