<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
  viewBox="0 0 960 540" width="100%" height="100%" style="position:absolute" ng-click="getAction()">
    <filter id="f1" preserveAspectRatio="xMidYMid slice">
      <feGaussianBlur in="SourceGraphic" stdDeviation="{{status}}" />
    </filter>
  <image width="960" height="540" xlink:href="img/{{level}}.jpg" filter="url(#f1)"/>
  <text x="50%" y="50%" text-anchor="middle">{{txt}}
      <animate attributeType="CSS" attributeName="opacity" values="1;0" begin="1.5s" dur="1.5s" repeatCount="1" fill="freeze"/>
  </text>
</svg>